<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="../css/font.css">
  </head>
  <body>
    <header>
      <h1><a id="webtitle" href="/">Counter Buddy</a></h1>
      <form action="/search" method="post">
        <input id="inputBar" type="text" name = "inputBar" value = "<%= srched %>" placeholder="Search Champion's name...">
        <button href="#" id="searchBtn1" type="submit" class="btn">Counter Search</button>
      </form>
      <hr id="frontline">
    </header>

    <section id="main">
      <% resultArr.sort(function(a,b){ %>
        <% return a["name"].localeCompare(b["name"]); %>
      <% }); %>
      <% if(resultArr.length == 0){ %>
        <p id="nofound">No Results Found, Try Another Keyword.
          <br><a href="/search" class="btn">Try Look Up the Champ List..</a>
        </p>
      <% } %>
      <% for(var i=0; i<resultArr.length; i++) {%>
        <% var imgSrc = resultArr[i]["image"]; %>
        <% var chpName = resultArr[i]["name"]; %>
        <% var href1 = "/champ/" + resultArr[i]["short"]; %>
        <% if(i == 0 || i == 36 || i == 72 || i == 108) { %>
          <% var searchPart = "srchPart" + Math.round(i / 35).toString(); %>
          <section id="<%= searchPart %>" onload="fadeIn(this)">
        <% } %>
        <section class="champ">
          <a href="<%= href1%>"><img src="<%= imgSrc %>" alt="champAvatar"></a>
          <a id="clickA" href="<%= href1 %>"><%= chpName %></a>
        </section>
        <% var leng = resultArr.length; %>
        <% if(leng <= 36 && i == leng-1) { %>
          </section>
        <% } %>
        <% if(leng > 36 && leng <= 72 && i == leng-1) { %>
          </section>
        <% } %>
        <% if(leng > 72 && leng <= 108 && i == leng-1) { %>
          </section>
        <% } %>
        <% if(leng > 108 && i == leng-1) { %>
          </section>
        <% } %>
      <% } %>
    </section>
    <section id="box"></section>
    <p id="botwords">2017 COUNTER BUDDY All Rights Reserved&nbsp;&reg;</p>
    <script src = "../javascript/search.js"></script>
    <script src="../javascript/jquery-3.1.1.min.js"></script>
  </body>
</html>
